{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Upcoming Events</h2>
    {{if .Events}}
        {{/*TODO:Replace with a card presentation style*/}}
        {{range .Events}}
            {{template "event_card" .}}
        {{end}}
    {{else}}
        <p>There's nothing to see here yet!</p>
    {{end}}
{{end}}
