{{define "event_card"}}
    <div class="card">
        <div class="card-header">
            <p class="card-header-title">
                {{.Title}}
            </p>
        </div>
        <div class="card-content">
            <div class="content">
                <p>{{.StartsAt}}</p>
                <p>{{.Description}}</p>
            </div>
        </div>
    </div>
{{end}}